@import url('https://fonts.googleapis.com/css2?family=Anaheim&display=swap');
:root{
  --bar-height : 82vh;
  --bar-width : 9vw;
} 


[hidden] {
  display: none !important;
}

p,h1{
  padding: 0;
  margin: 0;
}

html,
body {
  --primary-font: 'Anaheim', sans-serif;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-image : url("/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  font-family: var(--primary-font);

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
